asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cloudinary
coreapi
coreschema
cryptography
dj-database-url
Django
django-cloudinary-storage
django-rest-knox
djangorestframework
drf-yasg
gunicorn
idna
inflection
itypes
Jinja2
lxml
MarkupSafe
packaging
Pillow
pycparser
pyparsing
pytz
pytz-deprecation-shim
requests
ruamel.yaml
ruamel.yaml.clib
six
soupsieve
sqlparse
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
whitenoise
mailjet-rest
python-dotenv
psycopg2-binary>=2.9