{% extends "base.html" %}
{% load static %}

{% block title %}EFE – Gallery{% endblock %}

{% block content %}
  <!--====== BREADCRUMB ======-->
  <section class="breadcrumb-area" style="background-image: url({% static 'assets/img/bg/04.jpg' %});">
    <div class="container">
      <div class="breadcrumb-text">
        <span>EKITI FASHION EXHIBITION</span>
        <h2 class="page-title">Gallery</h2>
<!--        <ul class="breadcrumb-nav">-->
<!--          <li><a href="/">Home</a></li>-->
<!--          <li class="active">Gallery</li>-->
<!--        </ul>-->
      </div>
    </div>
  </section>

  <!--====== GALLERY ======-->
  <div class="gallery-wrappper pt-120 pb-120">
    <div class="container">
      <div class="gallery-loop columns-3">
        {% for image in images %}
          <div class="single-gallery-image wow fadeInUp" data-wow-delay=".3s">
            <a href="{{ image.image.url }}" class="popup-image">
              <img src="{{ image.image.url }}" alt="Images">
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Back to Top -->
  <a href="#" class="back-to-top" id="backToTop">
    <i class="fal fa-angle-double-up"></i>
  </a>
{% endblock %}

{% block scripts %}
  {# Page-specific JS (if any) can go here. If Magnific Popup is initialized globally in main.js, no extra needed. #}
{% endblock %}